.chrome-tabs.chrome-tabs-dark-theme {
  background: #202124;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-dividers::before,
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-dividers::after {
  background: #4a4d51;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #292b2e;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #323639;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-title {
  color: #9ca1a7;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab[active] .chrome-tab-title {
  color: #f1f3f4;
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-close {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(154, 160, 166, .8)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-close:hover {
  background-color: #5f6368;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .7)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tab .chrome-tab-close:hover:active {
  background-color: #80868b;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .9)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
}
.chrome-tabs.chrome-tabs-dark-theme .chrome-tabs-bottom-bar {
  background: #323639;
}


.dark-mode {
  background-color: black !important;
  color: white !important;
}

.tabs-extensions-section {
  background-color: #323639;
  color: white
}
.bookmarks-section {
  background-color: #323639;
  color: white;
  border-color: #323639;
}
.bookmarks-section .bookmarks-item:hover{
  background-color: #4a4d51;

}
.global_search input {
  background-color: #202124;
  color: white;
  border: 1px solid #202124;
}
.chrome-extensions:hover{
  border-color: #454649;
}
.chrome-user:hover{
  border-color: #454649;
}
.add-new-chrome-tab:hover svg{
  background-color: #454649;
}
.global_search .info:hover,
.sharenbookmark span:hover{
  background-color: #454649;
  color: #fff;
}
.icons-section .reload{
  color: #fff;
}
.icons-section img:hover {
  background: #454649;
}
.chrome-extensions:hover{
  border-color: #454649;
}
.chrome-user:hover{
  border-color: #454649;
}
.chrome-extensions .extension:hover {
  background: #454649;
}
.bookmarks-section .bookmarks-item:hover{
  background-color: #454649;
}

@media (hover: hover) {
  .chrome-tabs .chrome-tab .chrome-tab-close:hover {
    background-color: #454649;
  }
  .chrome-tabs .chrome-tab .chrome-tab-close:hover:active {
    background-color: #454649;
  }
}
@media not all and (hover: hover) {
  .chrome-tabs .chrome-tab .chrome-tab-close:active {
    background-color: #454649;
  }
}
.browser-controls span:hover{
  background-color: #454649;
}
.browser-controls .close:hover svg{
  fill: #454649;
}
.add-new-chrome-tab svg {
  color: #D6D7D7;
}

.incognito-pic {
  display: flex;
  align-items: center;
  border-radius: 50px;
  transition: all ease-out .2s;
}
.bookmark-popup{
  background-color: #333;
  border-color: #333;
}
.incognito-pic img {
  margin-top: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292A2D;
  min-width: 240px;
  right: 0px;
  left: auto;
 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: transparent;
  all: unset;
}

.dropdown-content button:hover {background-color: #414245;}

.dropdown:hover .dropdown-content {display: block;}
